<article class="card {{mods}}">
  {% if tag %}
    {% if tag[0] == 'news' %}
      <a target="_blank" href="https://spid.center/{{tag[0]}}" class="card__tag card__tag--{{tag[0]}}">
    {% else %}
      <a target="_blank" href="https://spid.center/categories/{{tag[0]}}" class="card__tag card__tag--{{tag[0]}}">
    {% endif %}
        <span>#{{tag[1]}}</span>
      </a>
  {% endif %}

  {% if title %}
    <h2>{{title}}</h2>
  {% endif %}


  {% if description %}
    <p>{{description}}</p>
  {% endif %}

  <div class="card__info">
    {% if num  %} <span>{{num}}</span>  {% endif %}
    {% if date %} <time>{{date}}</time> {% endif %}
    
    <a target="_blank" href="{{link}}">
      читать <span>{{type}}</span>
    </a>
  </div>
</article>
