<article id="december" data-month="декабрь" class="month">
	{% include 'headline.twig' with {month: 'декабрь'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>1</span>
					<span>декабря</span>
				</time>
				<p>
					Презентация <a href="https://spid.center/ru/articles/1606">фотопроекта «Смелые»</a>
					<span class="m-icon ph"></span>
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>2</span>
					<span>декабря</span>
				</time>
				<p>
					<a href="#">Онлайн мастер-класс</a> для учителей и
					сотрудников образования о том, какправильно
					говорить о ВИЧ-инфекции в
					школах Видео
					<span class="m-icon vid"></span>
					
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>4</span>
					<span>декабря</span>
				</time>
				<p>
					<a href="#">Неделя тестирования в Фонде</a>
					«СПИД.ЦЕНТР» 
				</p>
			</div>
		</div>
		<p>
			В рамках Дня борьбы со СПИДом в Открытом
			пространстве Фонда прошла фото-выставка
			«Смелые», посвященная людям, которые не боятся
			говорить о ВИЧ.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--media">
			<div class="slide"><img src="img/slides/1.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/2.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/3.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/4.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/5.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/6.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/7.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/8.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/9.jpg"  alt=""> </div>
			<div class="slide"><img src="img/slides/10.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/11.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/12.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/13.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/14.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/15.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/16.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/17.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/18.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/19.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/20.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/21.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/22.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/23.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/24.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/25.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/26.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/27.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/28.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/29.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/30.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/31.jpg" alt=""> </div>
			<div class="slide"><img src="img/slides/32.jpg" alt=""> </div>
		</div>
	</div>
	<div class="content">
		<p>
			2 декабря в открытом пространстве СПИД.ЦЕНТРа
			прошли мастер-классы для учителей и сотрудников
			образования о том, как-правильно говорить о ВИЧинфекции
			в школах
		</p>
	</div>
	<div class="section">
		<div class="slider slider--media">
			<div class="slide">
				<iframe src="https://player.vimeo.com/video/285854272" width="720" height="404" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="slide">
				<iframe src="https://player.vimeo.com/video/285854272" width="720" height="404" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="content">
		<p>
			Также с 4 по 9 декабря в фонде «СПИД.ЦЕНТР»
			проходила неделя тестирования на ВИЧ. Тест можно
			было сдать анонимно и бесплатно, в максимально
			дружественной атмосфере. Что важно –
			тестирование проводилось для всех, а не только для
			отдельных категорий.
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'материал',
			tag: ['fund', 'дела&nbsp;фонда'],
			title: 'В фонде «СПИД.ЦЕНТР» прошла неделя
			тестирования на ВИЧ',
			date: '9 декабря 2017',
			link: '#',
			mods: 'card--large card--outline'} %}
		</div>
		<div class="line"></div>
		<p>
			Мы вспомнили как СМИ, а значит и люди которые их
			читают, говорили о ВИЧ с самого начала эпидемии и
			обсудили сегодняшнюю стратегию государства по
			борьбе с ней вместе с экспертами. 
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider slider--x3 card-stack--wide">
			{% include 'card.twig' with {
			num: '1/3',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'ВИЧ в СМИ: от «Чумы 20 века»
			к «Чуме 21 века» ',
			description: '«Изобретение Пентагона», «смертный приговор», «клеймо
			прокажённого» – такими словами описывали ВИЧ-инфекцию
			почти 30 лет и риторика СМИ менялась очень медленно.
			СПИД.ЦЕНТР подготовил обзор о том, как разные издания
			говорили о ВИЧ с начала эпидемии.',
			link: 'https://spid.center/ru/articles/1614'} %}

			{% include 'card.twig' with {
			num: '2/3',
			type: 'материал', 
			tag: ['view', 'мнение'],
			title: 'Государственная стратегия по борьбе со
			СПИДом провалилась',
			description: '1 декабря отмечается Всемирный день борьбы со СПИДом.
			Известный журналист, директор фонда «СПИД.ЦЕНТР» Антон
			Красовский рассказал, как ведется борьба со СПИДом
			в России, с какими проблемами сталкиваются люди и могут ли
			они рассчитывать на помощь государства.',
			link: 'https://spid.center/ru/articles/1612'} %}

			{% include 'card.twig' with {
			num: '3/3',
			type: 'материал', 
			tag: ['view', 'мнение'],
			title: '«В условиях постоянного увеличения числа
			пациентов никаких средств для их лечения
			хватать не будет»',
			description: 'Эксперт в сфере борьбы с ВИЧ/СПИДом, врач-эпидемиолог
			Сергей Олейник, который регулярно говорит о проблемах
			российской профилактики ВИЧ, покинул должность
			заместителя главного врача Пензенского областного
			клинического центра специализированных видов медпомощи,
			который занимается ВИЧ-позитивными пациентами региона.
			СПИД.ЦЕНТР побеседовал с врачом о проблемах, которые
			привели его к увольнению, и о дальнейших планах.',
			link: 'https://spid.center/ru/articles/1659'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Один из пациентов инфекционной больницы на
			Соколиной Горе и московского городского центра
			СПИДа столкнулся с незаконным задержанием
			полицией по подозрению в употреблении
			психоактивных веществ. Мы написали подробную
			инструкцию о том, что делать в подобных
			ситуациях. 
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider slider--x3 card-stack--wide">
			{% include 'card.twig' with {
			mods: 'card--large card--outline',
			num: '1/2',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: '«Если ты "из этих", то точно употреблял»',
			description: 'Один из пациентов инфекционной больницы на Соколиной
			Горе и московского городского центра СПИДа столкнулся с
			незаконным задержанием по подозрению в употреблении
			психоактивных веществ. Полицейские психологически давили
			на мужчину и оскорбляли из-за гомосексуальности. Об этом
			СПИД.ЦЕНТРу рассказал соцработник московского ВИЧсервиса.',
			link: 'https://spid.center/ru/articles/1673'} %}

			{% include 'card.twig' with {
			mods: 'card--large card--outline',
			num: '2/2',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'Осторожно, полиция',
			description: 'Недавняя история с задержанием одного из пациентов
			московского городского центра СПИДа не столь удивительна
			и необычна, как хотелось бы. Единственной реальной
			возможностью защитить себя и своих близких от полицейского
			произвола остается знание собственных прав и возможностей
			их реализации. Поэтому СПИД.ЦЕНТР вместе с Анастасией
			Буракововой, юристом организации Открытое Право, которая
			занимается юридической поддержкой граждан в
			противостоянии с государственными органами, выяснил, как
			правильно вести себя с полицией, и что нужно знать, чтобы
			ваши права были соблюдены.',
			link: 'https://spid.center/ru/articles/1678'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			После 1 Декабря появилось много весьма
			удручающих фактов об эпидемии в России. Кто-то
			даже заявляет, что в России может быть до 2
			миллионов ВИЧ-положительных. 
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/6',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2179',
			title: 'ООН: Россия занимает третье место по
			числу новых случаев ВИЧ',
			date: '1 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/6',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2179',
			title: 'Исследование: в России может быть до 2
			миллионов ВИЧ-положительных',
			date: '1 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/6',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2182',
			title: 'ООН: каждые 17 секунд один человек в
			мире инфицируется ВИЧ',
			date: '2 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '4/6',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2183',
			title: 'Опрос: Лишь каждый пятый россиянин
			считает ВИЧ-инфекцию угрозой для страны',
			date: '4 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '5/6',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2211',
			title: 'Акция Минздрава выявила ВИЧ-инфекцию у
			каждого 65-го россиянина',
			date: '13 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '6/6',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Каждый пятый рязанец считает, что ВИЧ
			передаётся через поцелуй',
			date: '18 декабря 2017',
			mods: 'card--small'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Одной из важных тем остаются права ВИЧположительных,
			которые, увы, спешат соблюдать
			далеко не все
		</p>
	</div>
	<div class="section">
		<div class="slider card-stack">
			{% include 'card.twig' with {
			num: '1/2',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2218',
			title: 'Турецкая авиакомпания не пустила на рейс
			пассажира с ВИЧ, назвав его «заразным»',
			date: '20 декабря 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/2',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2226',
			title: 'В России ВИЧ-положительным могут
			запретить работать в метрополитене',
			date: '16 декабря 2017',
			mods: 'card--small'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			В то же время по одному из чувствительных
			вопросов, предоставлению лечения гражданам без
			регистрации, кажется, наметились подвижки. 
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'новость',
			tag: ['news', 'новости'],
			title: 'Минздрав проработает вопрос о
			предоставлении медпомощи ВИЧположительным
			пациентам без
			регистрации',
			date: '27 декабря 2017',
			link: 'https://spid.center/ru/posts/2241',
			mods: 'card--large card--outline'} %}
		</div>
		<div class="line"></div>
		<p>
			И наконец, одним из главных подарков месяца
			стало увольнение Ольги Ковех, одной из самых
			известных ВИЧ-диссиденток России. 
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'новость',
			tag: ['news', 'новости'],
			title: 'В Волгограде уволили ВИЧ-отрицательницу
			Ольгу Ковех',
			date: '4 декабря 2017',
			link: 'https://spid.center/ru/posts/2187',
			mods: 'card--large card--outline'} %}
		</div>
	</div>
</article>