<div class="factoid factoid--{{mod}}">
  {% if header %}
    <div class="factoid__title">{{header}}</div>
  {% endif %}

  {% if numbers|length == 2 %}
    <div class="factoid__numbers">
      <div class="factoid__number">
        <h2>{{numbers[0].num}}</h2>
        <span>{{numbers[0].name}}</span>
      </div>

      <span class="and">и</span>
    
      <div class="factoid__number">
        <h2>{{numbers[1].num}}</h2>
        <span>{{numbers[1].name}}</span>
      </div>
    </div>
  {% else %}
    <div class="factoid__number">
      <h2>{{numbers[0].num}}</h2>
      <span>{{numbers[0].name}}</span>
    </div>
  {% endif %}
</div>