<header class="header hidden">
  <div class="container ">
    <div class="col">
      <a target="_blank" href="https://spid.center">
        <img class="logo" src="img/logo-black.svg" alt="СПИД.ЦЕНТР">
      </a>
    </div>

    <div class="col hide-mobile">
      <h1>сентябрь</h1>
    </div>

    <div class="col">
      <a href="https://spid.center/help" target="_blank" class="btn">Помочь фонду</a>
    </div>
  </div>
</header>
