<article id="january" data-month="январь" class="month">
	{% include 'headline.twig' with {month: 'январь'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>14</span>
					<span>Января</span>
				</time>
				<p>
					Тренинг Discovery
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>15</span>
					<span>Января</span>
				</time>
				<p>
					Группа поддержки для дискордантных
					пар
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>25</span>
					<span>Января</span>
				</time>
				<p>
					Группа поддержки: вопросы безопасного
					секса с инфекционистом Николай
					Лунченковым
				</p>
			</div>
		</div>
		<p>
			Немного отдохнув, мы снова начали работу. В
			январе в Открытом пространстве прошел авторский
			тренинг Джин Берубе для ВИЧ-положительных -
			Discovery. А еще наша группа поддержки для ВИЧположителных
			«Комната 13» пополнилась форматом
			группы для дискордантных пар и провела встречу с
			врачом- инфекционистом, Николаем Лунченковым. 
		</p>
		<div class="line"></div>
		<p>
			Январь принес и радостные и печальные новости.
			Одной из главных тем была история Елены
			Мисюриной — врача-гематолога несправедливо
			осужденного за «оказание услуг, не отвечающих
			требованиям безопасности, которые стали
			причиной смерти человека». 
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider slider--x3 card-stack--wide">
			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '1/3',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: '«Берлинский пациент» привлечёт внимание
			общества к поиску лекарства от ВИЧ',
			description: 'В 2018 году исполнится 10 лет с момента первого и пока
			единственного излечения человека от ВИЧ-инфекции. Тимоти
			Рэй Браун, также известный как «Берлинский пациент»,
			прошёл через операцию по трансплантации клеток костного
			мозга. После этого в его крови не обнаружили присутствия
			вирусных частиц, с тех пор терапию он не принимает. Теперь
			активист решил бороться за поиск лекарства от ВИЧ-инфекции
			для других людей.',
			link: 'https://spid.center/ru/articles/1714'} %}

			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '2/3',
			type: 'материал', 
			tag: ['treatment', 'лечение'],
			title: 'Минздрав обосновал запрет на раннее
			начало АРВ-терапии для
			наркопотребителей',
			description: '11 января представители движения "Пациентский контроль"
			направили письма в Минздрав РФ, Роспотребнадзор и
			главному внештатному специалисту по проблемам
			диагностики и лечения ВИЧ-инфекции Минздрава РФ
			Воронину Е.Е. Они попросили разъяснить одно из положений
			рекомендаций "ВИЧ-инфекция у взрослых" за 2017 год. В
			рекомендациях, в частности, предлагается откладывать
			начало антиретровирусной терапии при наличии психических
			заболеваний и тяжелой наркотической зависимости.',
			link: 'https://spid.center/ru/articles/1751'} %}

			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '3/3',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'Я – Елена Мисюрина: Почему медики
			выступили в защиту осуждённого врача',
			description: 'В конце января был вынесен приговор по громкому делу
			гематолога Елены Мисюриной: врача осудили на два года за
			«оказание услуг, не отвечающих требованиям безопасности,
			которые стали причиной смерти человека». В итоге, приговор
			вызвал протесты по всей стране. Разбираемся, что известно о
			ситуации на данный момент и почему медики начали говорить
			об «охоте на врачей».',
			link: 'https://spid.center/ru/articles/1753'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Радуют определенные позитивные тенденции в
			отдельных регионах России. В то же время другие
			остаются сильно запущенными.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/4',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2282',
			title: 'В Крыму в пять раз за два года сократилась
			передача ВИЧ от матери ребёнку',
			date: '19 января 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/4',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2305',
			title: 'В Петербурге стабилизировалась ситуация
			по ВИЧ',
			date: '26 января 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/4',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2297',
			title: 'В Вологде в 2017 году выявили ВИЧинфекцию
			у 7 подростко',
			date: '26 января 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '4/4',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2303',
			title: 'Уличное тестирование на ВИЧ в
			Новосибирской области выявило
			заболеваемость в 7,5% ',
			date: '26 января 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>