<article id="june" data-month="июнь" class="month">
	{% include 'headline.twig' with {month: 'июнь'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>13</span>
					<span>июня</span>
				</time>
				<p>
					Лекция Николая Лунченкова «Сексуальное здоровье в большом городе»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>21</span>
					<span>июня</span>
				</time>
				<p>
					Лекция Евгении Жуковой о дискордантных парах «Плюс/Минус»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>22</span>
					<span>июня</span>
				</time>
				<p>
					Лекция Валентина Чиркова «Право+ Защита прав людей, живущих с ВИЧ»
				</p>
			</div>
		</div>
		<p>
			В июне наш лекторий пополнился лекциями о сексуальном здоровье, дискордантных парах и правах ВИЧ-положительных. Последняя была специально приурочена к новости о том, что конституционный суд признал незаконным запрет на усыновление детей ВИЧ-положительными родителями.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1939',
			title: 'Вечное клеймо',
			description: 'Люди привыкли воспринимать туберкулёз, как болезнь бедняков из глубокого прошлого. На деле же от этой болезни часто страдают молодые люди из самых обычных семей. Для того, чтобы бороться со стереотипами и стигмой, СПИД.ЦЕНТР решил опубликовать серию монологов людей, переживших туберкулез. Первый монолог о том, что туберкулезная больница – это мир в миниатюре и о том, как туберкулез по-прежнему остается на человеке клеймом на всю жизнь.'} %}
			{% include 'card.twig' with {
			num: '2/3',
			tag: ['treatment', 'лечение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1939',
			title: '"Записки Чахоточной"',
			description: 'Люди привыкли воспринимать туберкулёз, как болезнь бедняков из глубокого прошлого. На деле же от этой болезни часто страдают молодые люди из самых обычных семей. Для того, чтобы бороться со стереотипами и стигмой, СПИД.ЦЕНТР решил опубликовать серию монологов людей, переживших туберкулез. Второй монолог о том, как можно два года жить с болезнью, не зная о ней, и о том, как потом не потерять присутствие духа за полтора года в больнице.'} %}
			{% include 'card.twig' with {
			num: '3/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1939',
			title: '“Я научилась уважать свою болезнь”: монолог врача, пережившего туберкулёз',
			description: 'Медики ежедневно сталкиваются с туберкулезом, но для большинства он остаётся “по ту сторону баррикад”. Но что чувствует врач, который сам становится пациентом туберкулёзного отделения? СПИД.ЦЕНТР продолжает публиковать серию монологов людей, переживших туберкулез. На сей раз это история врача для которого “профессиональная болезнь” стала личной историей.'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			СПИД.ЦЕНТР продолжает бороться со стереотипами и стигмой не только в сфере ВИЧ. На этот раз мы решили опубликовать серию монологов людей, переживших туберкулез, чтобы показать, что с этой болезнью может столкнуться по-настоящему каждый.
		</p>
	</div>
	<div class="section">
		<div class="slider card-stack">
			{% include 'card.twig' with {
			num: '1/4',
			tag: ['society', 'общество'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1945',
			title: 'Тест: Насколько легко вас обмануть мифами о ВИЧ?',
			description: 'Любое явление, информации о котором нам не хватает, рано или поздно обрастает мифологией. Так, древние люди, видя молнии и слыша гром, приписывали их богам из-за недостатка знаний о природе этих явлений. Мы, современные люди, на самом деле, не то, чтобы далеко ушли от них. Мы знаем конечно, из школьного курса физики, откуда берется гром, но во множестве других вопросов до сих пор гораздо охотнее ориентируемся на мифы, чем на достоверную информацию. Проверьте себя, сможете ли вы отличить мифы о ВИЧ от реальности?'} %}
			{% include 'card.twig' with {
			num: '2/4',
			tag: ['prevention', 'профилактика'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1957',
			title: '“Детка, расскажи, как ты надеваешь презерватив”: как устроена профилактика ВИЧ среди секс-работниц',
			description: 'Журналисты СПИД.ЦЕНТРа съездили в Санкт-Петербург и выяснили, как устроена эффективная профилактика ВИЧ среди секс-работников, с какими проблемами сталкиваются работницы-мигрантки, и почему декриминализация секс-услуг необходима, чтобы остановить эпидемию.'} %}
			{% include 'card.twig' with {
			num: '3/4',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1959',
			title: 'Три жизни',
			description: 'В России трудно быть геем. ВИЧ-позитивным геем – ещё труднее. Впрочем, поберегите фантазию, сейчас он сам всё расскажет.'} %}
			{% include 'card.twig' with {
			num: '4/4',
			tag: ['society', 'общество'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1960',
			title: '«Вопросы, страх и замешательство»: Как ВИЧ-позитивные женщины рожают в Москве',
			description: 'В идеальном мире этой статьи не должно было случиться. В идеальном мире не должно возникать вопросов “Могу ли я родить здорового ребёнка, если живу с ВИЧ?”, “Смогу ли я родить естественным путём?”, “Говорить ли о статусе родным?” Корреспондентка СПИД.ЦЕНТРа Кира Луппова обсудила эти важные вопросы с врачами и ВИЧ-положительными женщинами.'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Пожалуй, главной новостью месяца стало решение конституционного суда РФ о том, что запрет ВИЧ-положительным усыновлять детей не является законным. Это значит, что мы еще на один шаг приблизились к решению проблем с усыновлением в России.
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        type: 'новость',
        tag: ['society', 'общество'],
        title: 'Конституционный суд признал незаконным запрет ВИЧ-положительным усыновлять детей',
        date: '21 июня 2018',
        mods: 'card--large card--outline'
      } %}
      </div>
      <p>
      	
      </p>
	</div>
</article>