<article id="march" data-month="март" class="month">
	{% include 'headline.twig' with {month: 'март'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>7</span>
					<span>Марта</span>
				</time>
				<p>
					Показ и обсуждение фильма "PrEP 17: The Coming Age of PrEP" 
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>9</span>
					<span>Марта</span>
				</time>
				<p>
					Год группе поддержки
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>17</span>
					<span>Марта</span>
				</time>
				<p>
					«ВИЧ: моя история»
				</p>
			</div>
		</div>
		<p>
			В марте мы продолжили обсуждать PrEP и презентовали в России документальный
			фильм "PrEP 17: The Coming Age of PrEP», повествующий об опыте английских
			коллег по его внедрению. Также мы отметили год нашей группы поддержки
			«Комната 13» и запустили в ней новый формат: «ВИЧ: моя история», где ВИЧ-
			положительные люди делаться с другими историями из своей жизни и своим
			опытом.
		</p>
		<div class="line"></div>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'новость',
			tag: ['fund', 'дела&nbsp;фонда'],
			link: 'https://spid.center/ru/posts/2521',
			title: '"СПИД.ЦЕНТР" запускает тематические группы взаимопомощи для ВИЧ+',
			date: '28 марта 2018',
			mods: 'card--large card--outline'} %}
		</div>
	</div>
	<div class="section">
		<div class="card-stack slider">
			{% include 'card.twig' with {
			num: '1/4',
			tag: ['society', 'общество'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1524',
			title: '"А что, в Дагестане тоже есть ВИЧ?": Монолог ВИЧ-активиста из Дагестана',
			description: 'Стигма, угрозы и "закрытая" статистика по ВИЧ-инфекции. СПИД.ЦЕНТР побеседовал с дагестанским активистом Джаппаром Гаджиевым: первым в республике ВИЧ-активистом с открытым лицом и основателем ВИЧ-сервисной организации о ситуации с заболеванием в одном из самых консервативных российских регионов.'} %}

			{% include 'card.twig' with {
			num: '2/4',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1524',
			title: 'Без презервативов, но с духовностью',
			description: 'История профилактики ВИЧ-инфекции в России – это путь от попыток ввести секс-просвет в школах и помощи крупных международных доноров, до практически полного запрета говорить с несовершеннолетними о безопасном сексе. "СПИД.ЦЕНТР" разобрался в том, как ВИЧ-инфекция стала табуированной для подростков темой.'} %}

			{% include 'card.twig' with {
			num: '3/4',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1524',
			title: 'Как власти России замалчивают эпидемию ВИЧ',
			description: 'Вопрос о ВИЧ крайне редко затрагивается в публичных выступлениях представителей власти. Старший научный сотрудник НИУ ВШЭ Искандер Ясавеев считает, что ситуация с ВИЧ невыигрышна для российских властей. СПИД.ЦЕНТР собрал ключевые положения из доклада Ясавеева "ВИЧ и власти: (де)проблематизация эпидемии ВИЧ на публичной арене".'} %}

			{% include 'card.twig' with {
			num: '4/4',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1524',
			title: 'Политическая воля может спасти жизни тысяч ВИЧ-позитивных людей',
			description: 'Он – один из главных ВИЧ-активистов Великобритании, главный редактор авторитетного сайта AIDSmap и человек, который помнит как начиналась эпидемия ВИЧ. Писатель, журналист и активист Гус Кейринс рассказал СПИД.ЦЕНТРу о том, как Великобритания училась на чужих ошибках, как наследие Первой мировой войны помогло создать систему медпомощи людям, живущим с ВИЧ, и даже о собственном опыте отрицания ВИЧ.'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Мы собирали мнения и данные об эпидемии из всех регионов России. Одной из
			самых ярких статей месяца стала история Джаппара Гаджиева: первого в
			Дагестане ВИЧ-активиста с открытым лицом.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2488',
			title: 'В 2017 году ВИЧ унес жизни более 30 тысяч россиян',
			date: '20 марта 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2499',
			title: 'В 2018 году заболеваемость ВИЧ в Вологодской области выросла на 43,5%',
			date: '22 марта 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/3',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2351',
			title: 'ВОЗ опубликовала новые данные по доконтактной профилактике ВИЧ',
			date: '12 февраля 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>