<article id="may" data-month="май" class="month">
	{% include 'headline.twig' with {month: 'май'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>16</span>
					<span>мая</span>
				</time>
				<p>
					Лекции Ольги Приходько «Прививки и ВИЧ»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>21</span>
					<span>мая</span>
				</time>
				<p>
					<a href="https://spid.center/ru/posts/2633">Запуск Группы поддержки для трансгендеров</a>
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>22</span>
					<span>мая</span>
				</time>
				<p>
					Творческий вечер журналиста и писателя Сергея Хазова
				</p>
			</div>
		</div>
		<p>
			В мае мы запустили еще одну группу поддержки специально для трансгендеров. А
			еще провели лекцию о прививках вместе с врачом-инфекционистом Ольгой
			Приходько и организовали творческий вечер журналиста и писателя Сергея
			Хазова.
		</p>
	</div>
	<div class="section">
		<div class="card-stack card-stack--wide slider slider--x3">
			{% include 'card.twig' with {
			num: '1/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1930',
			title: 'Никто не забыт',
			description: 'Всемирный день памяти умерших от СПИДа мы решили встретить вместе с людьми, для которых он – не просто формальная дата. На один день мы отдали наш сайт им, дав возможность поделиться воспоминаниями и историями о близких, чьи жизни унес СПИД. Чтобы через эти истории, опубликованные здесь, их близкие продолжали жить, а те, кто прошел через смерть близких недавно, могли увидеть, что они не одиноки в своем горе.'} %}

			{% include 'card.twig' with {
			num: '2/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1937',
			title: 'О приключениях одной карты с пометкой ВИЧ+',
			description: 'Наш редактор Лев Смирнов о том, какой беспредел творится иногда в московских(и не только) поликлиниках и о том, как с ним можно справиться, если знать свои права.'} %}
			

			{% include 'card.twig' with {
			num: '3/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1921',
			title: 'Очищение через сострадание',
			description: 'Наш колумнист Игорь Брагин, переборов себя, дошел до группы поддержки, чтобы разобраться с тем, какие стереотипы существуют вокруг этих встреч и выяснить, как же все-таки дела обстоят на самом деле.'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			В честь всемирного дня памяти умерших от СПИДа мы решили почтить память,
			собрав воспоминания их близких и друзей. Также мы получше разобрались в таких
			явлениях, каки группы поддержки и аутрич и рассказали вам о том, как защитить
			себя от раскрытия статуса в медучереждениях.
		</p>
	</div>
	<div class="section">
		<div class="card-stack card-stack--wide slider slider--x3">
			{% include 'card.twig' with {
			num: '1/3',
			tag: ['prevention', 'профилактика'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1920',
			title: 'Аутрич по-русски',
			description: 'Аутрич (от анг. Outreach, т. е. “Достижение во вне”) – одно из самых сложных, пожалуй, направлений в ВИЧ-профилактике. Это попытка начать диалог о ВИЧ с представителями уязвимых групп, такими как геи, в местах, казалось бы, к диалогу не располагающих. В клубах, саунах, на гей-пляжах. И вы всегда сразу узнаете аутрич-работника в таких местах. Яркая футболка, дружелюбный взгляд и небольшая толпа, потихоньку собирающаяся вокруг него. Из-за этой толпы их приход в клуб можно спутать разве что с визитом кинозвезды. Только вот кинозвезды не дадут вам презервативов, не протестируют вас на ВИЧ и не расскажут вам о профилактике. О том, как работается аутричерам в Москве, мы поговорили с сотрудниками проекта LaSky Дмитрием Харчевниковым и Максимом Чевыровым.'} %}

			{% include 'card.twig' with {
			num: '2/3',
			tag: ['view', 'мнение'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1918',
			title: '«Для пожилых людей с ВИЧ нужна другая система поддержки»',
			description: 'Первый случай ВИЧ в России официально был зарегистрирован в 1987 году, а пик заболеваемости пришелся на 90-е—2000-е годы. В 90-е, когда в России не было ни лечения, ни даже информации по поводу заболевания, диагноз ВИЧ однозначно воспринимался как смертный приговор.  Сейчас, благодаря современным АРВ-препаратам, пациенты с ВИЧ-позитивным статусом доживают до глубокой старости. Но пока что система поддержки этой новой для России категории людей развита очень слабо.'} %}

			{% include 'card.twig' with {
			num: '3/3',
			tag: ['society', 'общество'],
			type: 'материал',
			link: 'https://spid.center/ru/articles/1924',
			title: 'Дом с плюсом',
			description: 'В Ленинском районе Челябинска есть Центр помощи детям, оставшимся без попечения родителей (бывший детский дом № 8) — «Акварель». Из 48 ребят, живущих в нем, 15 имеют ВИЧ-позитивный статус. Воспитанников больше не делят по наличию диагноза, а их педагоги не заступают на смену в перчатках. Журналист Оксана Маклакова подготовила репортаж из первого в России детского дома для ВИЧ-положительных детей'} %} 
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<p>
			Также в мае мы продолжаем следить за развитием ситуации с запретом на ввоз в
			Россию иностранных лекарств и собираем все ключевые данные и мнения по этому
			вопросу. 
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2594',
			title: 'Скворцова: Россия не готова отказаться ',
			date: '20 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2597',
			title: 'Госдума поставит перед новым премьером РФ вопрос о полном импортозамещении лекарств',
			date: '22 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2598',
			title: 'Врач обратился к депутатам Госдумы: Вводить любой запрет на любые лекарства — это бесчеловечно',
			date: '23 апреля 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '4/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2624',
			title: 'Комитет Госдумы поддержал законопроект о контрсанкциях',
			date: '3 мая 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '5/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2625',
			title: 'Комитет ГД: запрет на ввоз лекарств может негативно сказаться на тяжело больных людях',
			date: '3 мая 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '6/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2646',
			title: 'В Москве прошел пикет против закона о контрсанкциях',
			date: '15 мая 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '7/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2647',
			title: 'Госдума приняла в первом чтении законопроект о контрсанкциях',
			date: '15 мая 2018',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '8/8',
			tag: ['news', 'новости'],
			type: 'новость',
			link: 'https://spid.center/ru/posts/2651',
			title: 'Согласно закону о контрсанкциях запрет на ввоз лекарств может наложить Правительство РФ',
			date: '17 мая 2018',
			mods: 'card--small'} %}
		</div>
	</div>
</article>