<article id="november" data-month="расходы фонда" class="month">
  {% include 'headline.twig' with {month: 'расходы фонда'} %}

  {% include 'factoid.twig' with {
    header: 'За этот год мы собрали',
    mod: 'red',
    numbers: [{
      num: '22 457 800', name: 'рублей'
    }]
  } %}

  <div class="content">
    {% include 'factoid.twig' with {
      numbers: [{
        num: '11 339 200', name: 'рублей'
      }]
    } %}

    <p>Потрачено на поддержание и работу сайтов <a href="https://spid.center">SPID.CENTER</a> и <a href="https://nooneleftbehind.ru">NOONELEFTBEHIND.RU</a></p>

    <p>В эту сумму входят зарплаты редакции человек, а также всех журналистов, работающих над производством контента для наших сайтов: они ежедневно собирают самую свежую информацию, делают для вас новости, статьи и переводы, а также создавая медиа-материалы.</p>

    <p>Также эта цифра включает в себя работу агентства Charmer, которое разработало для нас сайты <a href="https://spid.center">SPID.CENTER</a> и <a href="https://nooneleftbehind.ru">NOONELEFTBEHIND.RU</a></p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'На продвижение в сети мы потратили',
      numbers: [{
        num: '333 200', name: 'рублей'
      }]
    } %}

    <p>Уже 34 тысячи человек в Фейсбуке и 5 тысяч ВКонтакте ежедневно читает наши посты и делится ими со своими друзьями.</p>

    {% include 'socials.twig' %}

    <span class="line"></span>

    {% include 'factoid.twig' with {
      numbers: [{
        num: '1 344 300', name: 'рублей'
      }]
    } %}

    <p>Было потрачено на организацию мероприятий фонда. В них входят еженедельные лекции, группы поддержки для ВИЧ-положительных и трансгендеров, арт-терапия, пятничные кинопоказы и игротеки, йога и другие мероприятия которые ежедневно проходят в нашем Открытом пространстве.</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      numbers: [{
        num: '1 580 600', name: 'рублей'
      }]
    } %}

    <p>Стоила аренда нашего офиса и Открытого пространства, где проходят все наши мероприятия, а также работает редакция наших сайтов.</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      numbers: [{
        num: '1 799 000', name: 'рублей'
      }]
    } %}

    <p>Это содержание самого фонда, которое включает оплату бухгалтерии на аутсорсе, банковское обслуживание, налоги и социальные выплаты.</p>
  </div>

  
  {% include 'factoid.twig' with {
    header: 'За год на сайте вышло',
    mod: 'red',
    numbers: [
      {num: '669', name: 'статей'},
      {num: '870', name: 'новостей'}
    ]
  } %}

  <div class="content">

    {% include 'factoid.twig' with {
      header: 'На сайт зашли',
      numbers: [{
        num: '1 973 432', name: 'человек'
      }]
    } %}

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'Более',
      numbers: [{
        num: '3 000 000', name: 'человек'
      }]
    } %}
    <p class="center">были охвачены публикациями в Facebook</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'Более',
      numbers: [{
        num: '3 000', name: 'человек'
      }]
    } %}
    <p class="center">посетили посетили мероприятия, которые проходили в нашем Открытом пространстве</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'Более',
      numbers: [{
        num: '250', name: 'человек'
      }]
    } %}
    <p class="center">начали получать регулярную медицинскую помощь</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'Более',
      numbers: [{
        num: '700', name: 'человек'
      }]
    } %}
    <p class="center">получили дистанционное консультирование</p>

    <span class="line"></span>

    {% include 'factoid.twig' with {
      header: 'Более',
      numbers: [{
        num: '100', name: 'человек'
      }]
    } %}
    <p class="center">являются членами сообщества группы поддержки «Комната 13», которая еженедельно проходит в нашем Открытом пространстве.</p>
  </div>

  <div class="support">
    <h3>Вы тоже можете помочь нам, оформив подписку на регулярный платёж</h3>
    <a target="_blank" href="https://spid.center/ru/help" class="btn">помочь фонду</a>
  </div>

  <div class="footer footer--illustration">
    <img src="img/illustration-footer.jpg" srcset="img/illustration-footer.jpg 1x, img/illustration-footer@2x.jpg 2x" alt="">

    <img src="img/icons/logo-black.svg" class="logo" alt="">
  </div>

</article>
