<article id="november" data-month="ноябрь" class="month">
  {% include 'headline.twig' with {month: 'ноябрь'} %}


  <div class="content">

    <div class="shedule">
      <div class="shedule__row">
        <time>
          <span>5</span>
          <span>ноября</span>
        </time>

        <p>
          Съёмка <a href="http://atlas2018.org/russia-maxim-2/">фотопроекта Atlas-2018</a>
          <span class="m-icon ph"></span>
        </p>
      </div>
      <div class="shedule__row">
        <time>
          <span>6</span>
          <span>ноября</span>
        </time>

        <p>
          Группа по концентративному расслаблению
        </p>
      </div>
      <div class="shedule__row">
        <time>
          <span>15</span>
          <span>ноября</span>
        </time>

        <p>
          Лекция Мехти Ализаде «Как помочь своим близким, живущим с ВИЧ»
        </p>
      </div>
    </div>

    <p>В ноябре в Открытом пространстве Фонда состоялись съемки в рамках проекта Atlas-2018, посвященному людям, живущим с ВИЧ по всему миру.</p>
  </div>


  <div class="section">
    <div class="slider slider--media">

      <div class="slide">
        <iframe src="https://player.vimeo.com/video/253773033?title=0&byline=0&portrait=0"
        width="720" height="404"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="slide">
        <iframe src="https://player.vimeo.com/video/253953804?title=0&byline=0&portrait=0"
        width="720" height="404"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="slide">
        <iframe src="https://player.vimeo.com/video/248561251?title=0&byline=0&portrait=0"
        width="720" height="404"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="slide">
        <iframe src="https://player.vimeo.com/video/248560729?title=0&byline=0&portrait=0"
        width="720" height="404"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div class="slide">
        <iframe src="https://player.vimeo.com/video/248560271?title=0&byline=0&portrait=0"
        width="720" height="404"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

    </div>
  </div>


  <div class="content">
    <p>Также запустилась группа по концентративному расслаблению для ВИЧ-положительных людей и прошла лекция Мехти Ализаде о том, как действительно можно помочь своим близким, если у них ВИЧ.</p>

    <span class="line"></span>

    <p>Каждый ВИЧ-положительный проходит период принятия диагноза. Мы решили дать слово четырем разным людям, которые рассказали нам о своем опыте принятия и показали своим примером, что ВИЧ - это не страшно. </p>

  </div>

  <div class="section">
    <div class="card-stack slider">
      {% include 'card.twig' with {
        num: '1/4',
        tag: ['view', 'мнение'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1524',
        title: 'Как перестать бояться и начать жить',
        description: '1 ноября по всему миру проходит Международный день осведомленности о стрессе. Психологические проблемы – это то, с чем сталкиваются многие люди, живущие с ВИЧ. СПИД.ЦЕНТР начинает серию интервью, где люди, прошедшие через этапы принятия ВИЧ-статуса, рассказывают о своём опыте борьбы со стрессом и депрессией. '
      } %}

      {% include 'card.twig' with {
        num: '2/4',
        tag: ['view', 'мнение'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1532',
        title: '«Жизнь не заканчивается за дверями СПИД-центра»',
        description: 'Психологические проблемы – это то, с чем сталкиваются многие люди, живущие с ВИЧ. СПИД.ЦЕНТР продолжает пубиковать серию интервью людей, которые прошли через этапы принятия ВИЧ-статуса и рассказывают о своём опыте борьбы со стрессом и депрессией. На сей раз мы поговорили с юристом Ириной, которая живёт с ВИЧ полтора года. '
      } %}

      {% include 'card.twig' with {
        num: '3/4',
        tag: ['view', 'мнение'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1557',
        title: '«Из депрессии нужно вытаскивать себя за волосы – как Мюнхгаузен»',
        description: 'Как перестать бояться и начать жить? СПИД.ЦЕНТР продолжает пубиковать серию интервью людей, которые прошли через этапы принятия ВИЧ-статуса, борьбы со стрессом и депрессией. Сегодня о своём опыте рассказывает логист Алиса – она живёт с ВИЧ с августа этого года. '
      } %}

      {% include 'card.twig' with {
        num: '4/4',
        tag: ['view', 'мнение'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1567',
        title: '«После диагноза ВИЧ главное – не расставаться с разумом»',
        description: 'Как быть, когда диагноз "ВИЧ-инфекция" накладывается на проблемы в личной жизни? СПИД.ЦЕНТР продолжает пубиковать серию интервью людей, которые прошли через этапы принятия ВИЧ-статуса, борьбы со стрессом и депрессией. Сегодня о своём опыте рассказывает стилист Мария – она живёт с ВИЧ уже пять лет. '
      } %}
    </div>
  </div>

  <div class="content">
    <span class="line"></span>
    <p>В предверии Дня борьбы со СПИДом по всей стране прошли уроки, посвященные профилактике ВИЧ. СПИД.ЦЕНТР разобрался, в чем плюсы и минусы этой инициативы и объяснил, почему нельзя говорить о профилактике не используя слово «презерватив». </p>
  </div>

  <div class="section">
    <div class="card-stack slider">
      {% include 'card.twig' with {
        num: '1/4',
        tag: ['society', 'общество'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1530',
        title: 'Без презервативов, но с нравственностью: Минобрнауки хочет провести урок о ВИЧ «без скользких тем» ',
        description: 'Министерство образования и науки собирается провести онлайн-урок по профилактике ВИЧ-инфекции для старшеклассников и студентов. При этом, они собираются делать упор на нравственность, а не реальную информацию о путях передачи ВИЧ. Исполнитель проекта выполнять требования чиновников отказался и собирается ориентироваться на информацию Минздрава и Роспотребнадзора, сообщает «Коммерсантъ». '
      } %}

      {% include 'card.twig' with {
        num: '2/4',
        tag: ['society', 'общество'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1537',
        title: '«Натяну я эвфемизм на свою метафору»',
        description: '1 декабря в России пройдёт интернет-урок по профилактике ВИЧ, на котором школьники старших классов и студенты не услышат о средствах защиты от вируса. Чиновники Министерства образования предложили употреблять вместо него эвфемизмы, поскольку слово "презерватив" назвади "недопустимым". Пользователи фейсбука поддержали инициативу народным творчеством'
      } %}

      {% include 'card.twig' with {
        num: '3/4',
        tag: ['society', 'общество'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1587',
        title: 'В школах хотят рассказать о том, что презерватив защищает от ВИЧ на 40% ',
        description: 'В 60 субъектах РФ в школах собираются преподавать предмет "Нравственные основы семейной жизни" для учеников 10-11-го классов. Авторы курса — священник Дмитрий Моисеев и монахиня Нина Крыгина. Курс пока не включён в список обязательных – этот вопрос будет рассмотрен до конца ноябре. Но уже сейчас учебник критикуют за неверную информацию, в том числе о ВИЧ. Отрывки из учебника приводит The Village. '
      } %}

      {% include 'card.twig' with {
        num: '4/4',
        tag: ['society', 'общество'],
        type: 'материал',
        link: 'https://spid.center/ru/articles/1616',
        title: 'Урок курильщика',
        description: '1 декабря проходит открытый интернет урок для учащихся под названием "Знание-ответственность-здоровье". Участниками стали школьники и эксперты по разной тематике, при этом, некоторые из них прямо не относятся к теме ВИЧ-инфекции. Кроме того, присутствующие высказывали высли, которые стигматизируют людей, живущих с ВИЧ. СПИД.ЦЕНТР представляет обзор неоднозначного урока. '
      } %}
    </div>
  </div>


  <div class="content">
  
    <span class="line"></span>
    <p>Также в предверии 1 декабря ЮНЭЙДС запустило кампанию «Мое здоровье – мое право», посвященную проблемам, с которыми сталкиваются люди со всего мира при реализации своего законного права на здоровье. </p>

    <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        type: 'материал',
        mods: 'card--large card--outline',
        tag: ['epidemy', 'эпидемия'],
        link: 'https://spid.center/ru/articles/1540',
        title: 'К 1 декабря ЮНЭЙДС запускает кампанию «Моё здоровье – моё право» ',
        description: 'В преддверии Всемирного дня борьбы со СПИДом, который пройдёт 1 декабря, ЮНЭЙДС начинает кампанию "Мое здоровье – мое право". Она призвана обратить внимание на проблемы, с которыми сталкиваются люди со всего мира при реализации своего законного права на здоровье. '
      } %}
    </div>
  
    <span class="line"></span>
    <p>Во всем и мире, порой и в России, происходят события, которые малыми шагами приближают нас к победе над эпидемией, но все же никуда не уходят и отрицательные примеры.</p>
  </div>

  <div class="section">
    <div class="slider slider--x3">
      {% include 'card.twig' with {
        type: 'новость',
        num: '1/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2092',
        title: 'В 2018 году Грузия переходит на инновационные АРВ-препараты',
        date: '6 ноября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        type: 'новость',
        num: '2/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2101',
        title: 'Основатель журнала для ВИЧпозитивных людей стал мэром города в Пенсильвании',
        date: '9 ноября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        type: 'новость',
        num: '3/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2133',
        title: 'Лондон достиг целей ЮНЭЙДС «90–90–90»',
        date: '16 ноября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        type: 'новость',
        num: '4/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2157',
        title: 'Минздрав: В России число ВИЧпозитивных пациентов на терапии за 10 лет увеличилось в 18 раз',
        date: '24 ноября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        type: 'новость',
        num: '5/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2164',
        title: '«Известия»: Минздрав РФ готовит поправки, позволяющие людям с ВИЧ усыновлять детей',
        date: '27 ноября 2017',
        mods: 'card--small'
      } %}
  
      {% include 'card.twig' with {
        type: 'новость',
        num: '6/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2169',
        title: 'Воронин: Минздрав России поддерживает инициативу по снятию ограничений с ВИЧпозитивных на усыновление',
        date: '27 ноября 2017',
        mods: 'card--small'
      } %}

      {% include 'card.twig' with {
        type: 'новость',
        num: '7/7',
        tag: ['news', 'новости'],
        link: 'https://spid.center/ru/posts/2176',
        title: 'Свердловские власти объявили мораторий на тему ВИЧ',
        date: '1 декабря 2017',
        mods: 'card--small'
      } %}
    </div>
  </div>
</article>
