<article id="october" data-month="октябрь" class="month">
	{% include 'headline.twig' with {month: 'октябрь'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>11</span>
					<span>октября</span>
				</time>
				<p>
					Клинические исследования в области ВИЧ-инфекции: на пути к излечению". Лекция кандидата медицинских наук Анастасии Покровско
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>24</span>
					<span>октября</span>
				</time>
				<p>
					Первая лекция семейного психотерапевта Людмилы Мартьяновой, "Счастливое партнерство: законы и ловушки"
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>31</span>
					<span>октября</span>
				</time>
				<p>
					В СПИД.ЦЕНТРе работает информационная линия о ВИЧ-инфекции
				</p>
			</div>
		</div>
		<p>
			В октябре мы запустили Горячую линию, на которую каждый может позвонить (или написать в What’s App и Telegram) и узнать о профилактике и лечении ВИЧ-инфекции. 
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'материал',
			tag: ['fund', 'дела&nbsp;фонда'],
			title: 'В СПИД.ЦЕНТРе работает информационная линия о ВИЧинфекции',
			date: '31 октября 2017',
			link: 'https://spid.center/ru/posts/2077',
			mods: 'card--large card--outline'} %}
		</div>
		<p>
			Также в Открытом пространстве прошла лекция кандидата медицинских наук Анастасии Покровской о клинических исследованиях в области ВИЧ-инфекции и запустилась серия лекций-семинаров семейного психотерапевта Людмилы Мартьяновой, в которую вошли такие темы, как «Счастливое партнерство: законы и ловушки», «Мифы о сексе и сексуальности», «Как ссориться по-хорошему» и «Взаимозависимые отношения — как быть?». 
		</p>
		<div class="line"></div>
		<p>
			В Москве запустили неоднозначную социальную рекламу, посвященную профилактике ВИЧ, а мы объяснили, как эта «профилактика» может обернуться дальнейшей стигматизацией ВИЧ-позитивных людей и распространением эпидемии.  
			Основные 
		</p>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'материал',
			tag: ['prevention', 'профилактика'],
			title: 'Что не так с московскими плакатами о профилактике ВИЧ',
			description: 'Организация «Пациентский контроль» опубликовала плакаты о профилактике ВИЧ-инфекции, которые уже используются либо будут размещены в Москве. Плакаты изобилуют розовым цветом и грамматическими ошибками – но это не единственный их недостаток. СПИД.ЦЕНТР рассказывает, как «профилактика ВИЧ» может обернуться дальнейшей стигматизацией ВИЧ-позитивных людей и распространением эпидемии.',
			date: '31 октября 2017',
			link: 'https://spid.center/ru/posts/2077',
			mods: 'card--large card--outline'} %}
		</div>
		<div class="line"></div>
		<p>
			Основные мировые новости месяца: декриминализация сокрытия статуса в Калифорнии, смерть мэра Амстердама и запуск кампании «Н=Н» в России.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider">
			{% include 'card.twig' with {
			num: '1/5',
			type: 'материал', 
			tag: ['treatment', 'лечение'],
			title: '«Вы — маргиналы»: о жизни бывших участников заместительной терапии в ДНР',
			description: 'С 2014 года территория "Донецкой народной
			республики" не подчиняется законам Украины. Из-за
			этого год назад на территории ДНР прекратилась
			программа заместительной терапии. Специально для
			СПИД.ЦЕНТРа журналистка из Донецка Светлана Дурбой
			записала серию монологов ВИЧ-позитивных
			наркопотребителей о том, как изменилась их жизнь на
			заместительной терапии и после её принудительной
			отмены.',
			link: 'https://spid.center/ru/articles/1480'} %}

			{% include 'card.twig' with {
			num: '2/5',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'Калифорния декриминализовала
			сознательное сокрытие ВИЧстатуса
			от партнёра',
			description: 'С 1 января 2018 года на территории Калифорнии
			сознательное сокрытие ВИЧ-статуса от сексуального
			партнёра переходит из разряда уголовных преступлений в
			категорию административных нарушений. Распоряжение
			об этом подписал губернатор Джерри Браун.',
			link: 'https://spid.center/ru/articles/1469'} %}

			{% include 'card.twig' with {
			num: '3/5',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'Любимый мэр Амстердама',
			description: '5 октября умер бывший мэр Амстердама Эберхард ван
			дер Лаан. О его кончине скорбят не только жители
			Нидерландов, но и ВИЧ-активисты по всему миру.',
			link: 'https://spid.center/ru/articles/1473'} %}

			{% include 'card.twig' with {
			num: '4/5',
			type: 'новость', 
			tag: ['news', 'новости'],
			title: 'В Грузии два года не рождаются
			дети с ВИЧ-инфекцией',
			description: ' ',
			link: 'https://spid.center/ru/posts/2032'} %}

			{% include 'card.twig' with {
			num: '5/5',
			type: 'новость', 
			tag: ['news', 'новости'],
			title: 'В России запущена кампания в
			поддержку консенсуса “не
			определяемый – не передающий” ',
			description: ' ',
			link: 'https://spid.center/ru/posts/2048'} %}
		</div>
	</div>
</article>
