<figure class="media">
  <div class="media__content">
    <img src="img/yoga.jpg" alt="Фотография групповых занятий йогой">
  </div>

  <figcaption class="media__caption">
    Занятие йогой совместно с проектом life4me+
  </figcaption>
</figure>
