<article id="september" data-month="сентябрь" class="month">
	{% include 'headline.twig' with {month: 'сентябрь'} %}
	<div class="content">
		<div class="shedule">
			<div class="shedule__row">
				<time>
					<span>16</span>
					<span>сентября</span>
				</time>
				<p>
					Школа фасилитирования для ВИЧ-позитивных людей
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>20</span>
					<span>сентября</span>
				</time>
				<p>
					Лекция руководителя и старшего исследователя секции межклеточных взаимодействий Национального института здоровья США, приглашённого профессора Мэрилендского университета, МГУ и Карлова университета в Праге Леонида Марголиса «ВИЧ и СПИД глазами ученого»
				</p>
			</div>
			<div class="shedule__row">
				<time>
					<span>24</span>
					<span>сентября</span>
				</time>
				<p>
					Занятие йогой совместно с проектом life4me+
				</p>
			</div>
		</div>
		<p>
			В сентябре в фонде прошла интерактивная лекция профессора Леонида Марголиса «ВИЧ и СПИД глазами ученого», которая показала нам научный взгляд на решение проблемы эпидемии ВИЧ-инфекции. Также в этом месяце в нашем Открытом пространстве запустились два новых формата: Школа фасилити- рования для ВИЧ-позитивных людей, в рамках которой мы обучали людей мастерству ведения группы поддержки, и Йога по воскресениям.
		</p>
		<figure class="media">
			<div class="media__content">
				<img src="img/yoga.jpg" alt="Фотография групповых занятий йогой">
			</div>

			<figcaption class="media__caption">
				Занятие йогой совместно с проектом life4me+
			</figcaption>
		</figure>
		<span class="line"></span>
		<p>
			Одной из знаковых тем сентября стало пополнение списка жизненно необходимых и важнейших лекарственных препаратов, которое, однако, согласно мнению нашего Директора, Антона Красовского, все равно пока отстает от мировых тенденций.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider slider--x3 card-stack--wide">
			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '1/3',
			type: 'материал', 
			tag: ['treatment', 'лечение'],
			title: 'Пациенты просят Минздрав обновить список ЖНВЛП',
			description: '4 сентября пройдет заседание комиссии по ЖНВЛП (Жизненно необходимые и важнейшие ле- карственные препараты), где будет рассмотрен вопрос о включении в перечень современ- ных препаратов для лечения ВИЧ-инфекции и хронического гепатита С.'} %}
			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '2/3',
			type: 'материал', 
			tag: ['view', 'мнение'],
			title: 'Красовский: Список жизненно важных лекарств по ВИЧ в РФ меняется, но отстает от мировых тенденций',
			description: 'Внесение последних изменений в российский список ЖНВЛП по ВИЧ можно приветствовать, но спектр этих препаратов следует расширять, считает директор фонда «СПИД. ЦЕНТР»'} %}
			{% include 'card.twig' with {
			mods: 'card--medium card--outline',
			num: '3/3',
			type: 'материал', 
			tag: ['view', 'мнение'],
			title: 'Одна таблетка — это важно',
			description: 'ВИЧ-активист и журналист Борис Конаков рассуждает о том, почему людям с ВИЧ важно принимать качественные и современные препараты.'} %}
		</div>
	</div>
	<div class="content">
		<span class="line"></span>
		<p>
			Еще одной острой темой стало обсуждение права ВИЧ-положительных мигрантов и просто туристов находиться на территории РФ. И, как это обычно бывает, где-то удалось добиться улучшений, а где-то совсем наоборот.
		</p>
	</div>
	<div class="section">
		<div class="card-stack slider slider--x2 card-stack--wide">
			{% include 'card.twig' with {
			mods: 'card--large card--outline',
			num: '1/2',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'Депздрав Москвы заявил о необходимости депортировать из России трудовых мигрантов с ВИЧ',
			description: 'Глава департамента здравоохранения Москвы Алексей Хрипун заявил о том, что необходимо совершенствовать механизм депортации трудовых мигрантов, живущих с ВИЧ. СПИД.ЦЕНТР напоминает, почему выдворение ВИЧ-позитивных мигрантов из страны – не самый эффективный способ борьбы с эпидемией.'} %}
			{% include 'card.twig' with {
			mods: 'card--large card--outline',
			num: '2/2',
			type: 'материал', 
			tag: ['society', 'общество'],
			title: 'ВИЧ-положительных делают въездными',
			description: 'Роспотребнадзор разработал поправки к постановлению правительства РФ. Ранее ВИЧ-положительным иностранцам был закрыт въезд в страну, однако позже тем, кто имеет в России близких родственников, его разрешили. Теперь чиновники предлагают открыть въезд иностранцам с ВИЧ, имеющим близких родственников в РФ, на три месяца с условием, что у них есть документы о лечении за границей.'} %}
		</div>
	</div>
	<div class="content">
		<div class="line"></div>
		<div class="card-stack card-stack--mobile-wide card-stack--center">
			{% include 'card.twig' with {
			type: 'материал',
			tag: ['fund', 'дела&nbsp;фонда'],
			title: 'В фонде «СПИД.ЦЕНТР» прошла неделя тестирования на ВИЧ',
			description: 'Согласно новым данным, всего в России зарегистрировано 1,16 млн диагнозов "ВИЧ-инфекция". За полгода поставили 52 тысячи новых диагнозов, от СПИДа ежедневно умирают 80 россиян, лечение получают только треть из выявленных пациентов, а эпидемия увеличивается в основном за счёт незащищённых гетеросексуальных контактов.',
			date: '12 сентября 2017',
			mods: 'card--large card--outline'} %}
		</div>
		<div class="line"></div>
		<p>
			И наконец, главной новостью сентября стала смерть ВИЧ-позитивного ребёнка из- за отказа родителей давать ему терапию, произошедшая в семье петербуржского священника Георгия Сычева, которая в очередной раз вызвала волну обсуждений ответсвенности для родителей, отказывающихся предоставлять лечение своим ВИЧ-позитивным детям.
		</p>
	</div>
	<div class="section">
		<div class="slider slider--x3">
			{% include 'card.twig' with {
			num: '1/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'В Петербурге ВИЧ-позитивный ребёнок погиб из-за отказа родителей давать ему терапию',
			date: '28 августа 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '2/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Общественная палата проследит за ходом расследования смерти девочки с ВИЧ в Петербурге',
			date: '1 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '3/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Омбудсмен: девочку, скончавшуюся от ВИЧ, начали слишком поздно лечить',
			date: '1 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '4/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'СМИ: ВИЧ-позитивная девочка, умершая в Петербурге, оказалась приемной дочерью настоятеля храма РПЦ МП в СИЗО "Кресты"',
			date: '3 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '5/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Эксперт опроверг заявление РПЦ о том, что медицина не могла помочь умершей от ВИЧ девочке из Петербурга',
			date: '5 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '6/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Возбуждено уголовное дело после смерти ВИЧ-положительной девочки в семье ВИЧ-диссидентов из Петербурга',
			date: '26 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '7/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'Епархия решила не принимать меры против священника после смерти его дочери от ВИЧ без лечения',
			date: '27 сентября 2017',
			mods: 'card--small'} %}
			{% include 'card.twig' with {
			num: '8/8',
			tag: ['news', 'новости'],
			type: 'новость',
			title: 'В деле о гибели от ВИЧ дочери петербургского священника ',
			date: '3 октября 2017',
			mods: 'card--small'} %}
		</div>
	</div>
</article>
