<div class="shedule">
  <div class="shedule__row">
    <time> <span>16</span> <span>сентября</span> </time>

    <p>Школа фасилитирования для ВИЧ-позитивных людей<span class="m-icon ph"></span></p>
  </div>

  <div class="shedule__row">
    <time> <span>20</span> <span>сентября</span> </time>

    <p>
      Лекция руководителя и старшего исследователя секции межклеточных взаимодействий
      Национального <a href="#check">института здоровья США</a>, приглашённого профессора Мэрилендского
      университета, МГУ и Карлова университета в Праге Леонида Марголиса
      «ВИЧ и СПИД глазами ученого» <span class="m-icon vid"></span>
    </p>
  </div>

  <div class="shedule__row">
    <time> <span>24</span> <span>ноября</span> </time>

    <p>Занятие йогой совместно с проектом life4me+</p>
  </div>
</div>
