′{# КАРТОЧКИ #}

  {#
    Теги:
    -----
    Значение параметра tag у карточки (примеры ниже)
    Ссылка на категорию вставляется по первому элементу
    #}
    <script>
    var tags = [
    ['treatment', 'лечение'],
    ['view', 'мнение'],
    ['fund', 'дела&nbsp;фонда'],
    ['society', 'общество'],
    ['news', 'новости'],
    ['epidemy', 'эпидемия'],
    ['prevention', 'профилактика'],
    ]
    </script>

    {# Подборка 
      <div class="section">
      <div class="card-stack slider card-stack--wide">
      {# Контент #}
      </div>
      </div>
      #}
      {# Подборка на 3 элемента #}
      <div class="section">
      <div class="card-stack slider slider--x3 card-stack--wide">
      {# Контент #}
      </div>
      </div>

      {# Новость в подборке (card--small) #}
      {% include 'card.twig' with {
        num: '1/8',
        type: 'новость',
        title: 'В Петербурге ВИЧ-позитивный ребёнок погиб из-за отказа родителей давать ему терапию',
        date: '28 августа 2017',
        mods: 'card--small'
      } %}

      {# Одиночная новость #}
      <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        type: 'новость',
        tag: ['fund', 'дела&nbsp;фонда'],
        title: 'В фонде «СПИД.ЦЕНТР» прошла неделя тестирования на ВИЧ',
        date: '28 августа 2017',
        mods: 'card--large card--outline'
      } %}
      </div>

      {# Обычный материал (все опции) #}
      {% include 'card.twig' with {
        date: '12 сентября 2017',
        mods: 'card--large card--outline',
        num: '1/3',
        type: 'материал', 
        tag: ['treatment', 'лечение'],
        title: 'Заголовок',
        description: 'Описание'
      } %}

      {# Одиночный материал #}
      <div class="card-stack card-stack--mobile-wide card-stack--center">
      {% include 'card.twig' with {
        date: '12 сентября 2017',
        type: 'материал',
        mods: 'card--large card--outline',
        tag: ['prevention', 'профилактика'],
        title: 'ВИЧ в России в числах',
        description: 'Согласно новым данным, всего в России зарегистрировано 1,16 млн диагнозов "ВИЧ-инфекция". За полгода поставили 52 тысячи новых диагнозов, от СПИДа ежедневно умирают 80 россиян, лечение получают только треть из выявленных пациентов, а эпидемия увеличивается в основном за счёт незащищённых гетеросексуальных контактов.'
      } %}
      </div>

{# //КАРТОЧКИ #}



{# ЭЛЕМЕНТЫ #}

{# Иконка видео (вставляется внутри параграфа после текста, см расписание) #}
<span class="m-icon vid"></span>

{# Иконка фото (вставляется внутри параграфа после текста, см расписание) #}
<span class="m-icon ph"></span>

{# Разделитель (располагается внутри .content) #}
<span class="line"></span>

{# Стрелка вниз с анимацией #}
<div class="scroll-arrow"></div>

{# //ЭЛЕМЕНТЫ #}



{# КАРТИНКА #}
<div class="content">
{# содержимое... #}

<figure class="media">
<div class="media__content">
<img src="img/yoga.jpg" alt="Фотография групповых занятий йогой">
</div>

<figcaption class="media__caption">
Занятие йогой совместно с проектом life4me+
</figcaption>
</figure>

{# содержимое... #}
</div>

{# //КАРТИНКА #}



{# РАСПИСАНИЕ #}
<div class="shedule">
<div class="shedule__row">
<time>
<span>16</span>
<span>сентября</span>
</time>

<p>Школа фасилитирования для ВИЧ-позитивных людей<span class="m-icon ph"></span></p>
</div>
</div>
{# //РАСПИСАНИЕ #}



{# ФАКТОИД #}
{# Обычный #}
{% include 'factoid.twig' with {
  header: 'За этот год мы собрали',
  numbers: [{
    num: '22 457 800', name: 'рублей'
  }]
} %}

{# Без заголовка #}
{% include 'factoid.twig' with {
  numbers: [{
    num: '22 457 800', name: 'рублей'
  }]
} %}

{# Двойной #}
{% include 'factoid.twig' with {
  header: 'За год на сайте вышло',
  mod: 'red',
  numbers: [
  {num: '669', name: 'статей'},
  {num: '870', name: 'новостей'}
  ]
} %}

{# Красный на всю ширину #}
{% include 'factoid.twig' with {
  header: 'За этот год мы собрали',
  mod: 'red',
  numbers: [{
    num: '22 457 800', name: 'рублей'
  }]
} %}

{# //ФАКТОИД #}



{# МЕДИА-СЛАЙДЕР #}
<div class="section">
<div class="slider slider--media">

{# Фото #}
<div class="slide">
<img src="img/slides/photo1.jpg" alt="">
</div>

{# Видео Vimeo #}
<div class="slide">
<iframe src="https://player.vimeo.com/video/285854272" width="720" height="404" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{# Видео Youtube #}
<div class="slide">
<iframe width="720" height="404" src="https://www.youtube.com/embed/Gr9qaCOEjYg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>
</div>
{# //МЕДИА-СЛАЙДЕР #}



{# ПОДДЕРЖКА (располагается вне .content) #}
<div class="support">
<h3>Вы тоже можете помочь нам, оформив подписку на регулярный платёж</h3>
<a target="_blank" href="https://spid.center/ru/help" class="btn">помочь фонду</a>
</div>
{# //ПОДДЕРЖКА #}



{# ФУТЕР #}
{# С текстом #}
<footer class="footer">
<p>
НАШ САЙТ В ЕЖЕДНЕВНОМ РЕЖИМЕ ПОПОЛНЯЕТСЯ ВАЖНЫМИ НОВОСТЯМИ,
ЗА МЕСЯЦ НА САЙТЕ ВЫХОДИТ 65 СТАТЕЙ И 76 НОВОСТЕЙ
</p>
</footer>

{# Иллюстрация #}
<div class="footer footer--illustration">
<img src="img/illustration-footer.jpg" srcset="img/illustration-footer.jpg 1x, img/illustration-footer@2x.jpg 2x" alt="">
<img src="img/icons/logo-black.svg" class="logo" alt="">
</div>
{# //ФУТЕР #}



{# МЕСЯЦ (Раздел) #}
<article id="november" data-month="ноябрь" class="month">
{% include 'headline.twig' with {month: 'ноябрь'} %}

{# Тут содержимое #}
</article>
{# ?/МЕСЯЦ #}