<div class="socials">
  <a target="_blank" href="https://www.facebook.com/spid.center" class="socials__item">
    <img src="img/icons/facebook-logo.svg" alt="">
    <span>spid.center</span>
  </a>

  <a target="_blank" href="https://t.me/aidscenter" class="socials__item">
    <img src="img/icons/telegram-logo.svg" alt="">
    <span>aidcenter</span>
  </a>
  
  <a target="_blank" href="https://www.instagram.com/aids.center/" class="socials__item">
    <img src="img/icons/instagram-logo.svg" alt="">
    <span>aids.center</span>
  </a>

  <a target="_blank" href="https://vk.com/spid.center" class="socials__item">
    <img src="img/icons/vk-logo.svg" alt="">
    <span>spid.center</span>
  </a>

  <a target="_blank" href="https://twitter.com/Spid_center" class="socials__item">
    <img src="img/icons/twitter-logo.svg" alt="">
    <span>spid_center</span>
  </a>

  <a target="_blank" href="https://www.youtube.com/channel/UC9FQTrF_VWKeUY4-S_D9zXg" class="socials__item">
    <img src="img/icons/youtube-logo.svg" alt="">
    <span>aids.center</span>
  </a>
</div>