.card-stack {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  & + &,
  & + .section,
  & + .footer {
    margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
  }

  &--wide {max-width: 998px;}

  &--center {justify-content: center;}

  .content & {
    padding: 0;
  }

  @include mobile {
    padding: 0;
  }

  &--mobile-wide {
    @include mobile {
      width: calc(100% + (7.69vw * 2));
      margin-left: -7.69vw;
      margin-right: -7.69vw;

      &.card {
        max-width: 100%;
        padding-left: 7.69vw;
        padding-right: 7.69vw;
      }
    }
  }
}
