<!doctype html>
<html lang="ru">
  <head>
    <title>{{ title | default("Инитум") }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    {% block styles %}
    {% endblock %}
    
    <link href="css/flickity.css" rel="stylesheet">
    <link href="css/fotorama.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <main class="body">
      {% block body %}
      {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
      
    <script src="js/flickity.pkgd.min.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="js/scripts.js"></script>

    <script>
      window.setupSections ? setupSections() : null;
    </script>
  </body>
</html>
