.footer {
  background: $red;
  color: #fff;
  padding: 85px 0 87px;

  @include mobile {
    padding: 40px 0;
    margin-bottom: 2px solid rgba($red, 10%);
  }

  p {
    max-width: 560px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.05em;
  }

  &--illustration {
    background: #fff;
    padding: 110px 20px 100px;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;

      &.logo {
        max-width: 300px;
      }
    }

    @include mobile {
      padding: 40px 20px;
    }
  }
}
