.header {
  background: #fff;
  padding: 0px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0,0,0,0.1);
  transform: translateY(0px);
  transition: transform .6s cubic-bezier(0.73, 0.03, 0.25, 1);
  will-change: transform;
  z-index: 1000;
  
  @include mobile {
    padding: 17px 0;
  }
  
  .logo {
    align-self: center;
    position: relative;
    top: 5px;
    left: 2px;
    width: 169px;
    
    @include mobile {
      width: 35VW;
    }
  }
  
  h1 {
    min-height: 60px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: $red;
    opacity: 1;
    transform: translateY(-3px);
    transition: all .3s ease;
    
    &.hide {
      transition: all .3s 0s ease;
      opacity: 0;
    }

    @include mobile {
      display: none;
    }
  }
  
  .btn {
    margin-left: auto;

    @include mobile {
      line-height: 36px;
      font-size: 16px;
      padding: 0 20px;
    }
  }
  
  &.hidden {
    transform: translateY(-130px);
  }
}
