.headline {
  background: $red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 120px;
    line-height: 1;
    font-weight: 800;
    margin: 0;
    color: #fff;

    @include mobile {
      font-size: 11.5vw;
    }
  }

  @include mobile {
    height: 50vh;
  }

  &--start {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $gerbera;
    margin-bottom: 0;

    @include mobile {
      margin-bottom: 0px;
    }
    
    img {
      width: 100%;
      max-width: 600px;
      display: block;
      margin: 0 auto;

      @include mobile {
        max-width: 86vw;
        position: relative;
        right: -4px;
      }
    }
    
    h1 {
      width: calc(100% - 40px);
      max-width: 630px;
      font-size: 116px;
      line-height: 1;
      font-weight: 500;
      text-align: right;
      letter-spacing: 9px;
      margin: 0 auto;
      
      @include mobile {
        max-width: calc(100% - 40px);
        font-size: 19vw;
        letter-spacing: 0px;
      }
    }
    
    h2 {
      width: calc(100% - 40px);
      max-width: 615px;
      font-size: 48px;
      line-height: 1;
      font-weight: 500;
      text-align: right;
      margin: 0 18px 0 0;
      
      @include mobile {
        max-width: calc(100% - 40px);
        margin: 0 -2px 0 0;
        text-align: center;
        font-size: 12.3vw;
      }
    }
  }
}
