.month {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  will-change: transform;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all .4s ease;
    background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0.00001));
  }

  &.current {
    z-index: 510;
    
    &::after {
      opacity: 0.4;
    }
  }

  @include mobile {
    position: relative;
    top: auto;
    overflow: hidden;
    left: auto;
  } 
}
