
.section {
  background: $pale;
  width: 100%;
  padding: 60px 20px;

  & + &,
  & + .card,
  & + .content,
  & + .section {
    margin-top: 40px;

    @include mobile {
      margin-top: 30px;
    }
  }

  &--collapsed {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0;
  }
}
