.content {
  .shedule {
    margin-bottom: 55px;
    width: calc(100% + 9px);
    margin-left: -4.5px;
    border: 2px solid $pale;
  
    @include mobile {
      border-width: 1px;
      margin-bottom: 40px;

      width: calc(100% + (3.846vw * 2));
      margin-left: -3.846vw;
    }
  
    &__row {
      display: flex;
      align-items: stretch;
      border-bottom: 2px solid $pale;
      min-height: 80px;
  
      @include mobile {
        flex-direction: column;
        border-width: 1px;
      }
      
      &:last-child {
        border: none;
      }
  
      time {
        background: $red;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 120px;
        flex-shrink: 0;
        padding: 10px;
        color: #fff;
        font-weight: 500;
  
        @include mobile {
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
  
        span {
          font-size: 14px;
          text-align: center;
          width: 100%;
          display: block;
  
          &:first-child {font-size: 25px;}
          
          @include mobile {
            font-size: 4.80vw;
            text-transform: uppercase;
            display: inline;
            text-align: left;
            line-height: 60px;
            width: auto;
  
            &:first-child {
              font-size: 4.80vw;
              margin-right: 5px;
            }
          }
        }
      }
  
      p {
        width: 100%;
        margin: 0 !important;
        font-size: 16px;
        align-self: center;
        line-height: 1.5;
        color: #757677;
        padding: 20px 40px 20px 43px;
  
        @include mobile {
          font-size: 4.61vw;
          line-height: 7vw;
          padding: 12px 7.5vw;
        }
      }
    }
  }
}
