.support {
  text-align: center;
  padding: 100px 20px 84px;
  background: $red;
  color: #fff;

  @include mobile {
    padding: 40px 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto 48px;
    max-width: 630px;
    line-height: 34px;
  }

  .btn {
    font-size: 24px;
    font-weight: 700;
    padding: 0 50px;
    line-height: 60px;
    background: #fff;
    color: $red;
    letter-spacing: 0.05em;

    &:hover {
      background: rgba(#fff, 0.9);
      color: $red;
    }
  }
}