{% extends "core/layout.twig" %}
{% set title = "Годовой отчет" %}

{% block body %}
{% include './blocks/header.twig'%}

{# {% include './blocks/illustration.twig' %}
{% include './blocks/september-2017.twig' %}
{% include './blocks/october-2017.twig' %}
{% include './blocks/november-2017.twig' %}
{% include './blocks/december-2017.twig' %}
{% include './blocks/january-2018.twig' %}
{% include './blocks/february-2018.twig' %}
{% include './blocks/march-2018.twig' %}
{% include './blocks/april-2018.twig' %}
{% include './blocks/may-2018.twig' %}
{% include './blocks/june-2018.twig' %}
{% include './blocks/july-2018.twig' %} #}
{% include './blocks/money.twig' %}
{% endblock %}
