/* Дефолтные стили */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

/* Формы */
input, textarea, button {
  font-family: $gerbera;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Основные стили */
html {
  background: #ffffff;
}

body {
  font-family: $gerbera;
  font-size: 14px;
  line-height: 20px;
  background: $red;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;

  &:hover {
    color: $red;   
  }
}


.hide-mobile {
  @include mobile {
    display: none;
  }
}
