.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  width: 100%;

  @include mobile {
    width: auto;
  }

  &:last-of-type {
    text-align: right;
  }
}
